<div class="row-fluid">
  <div id="mineral-icon" class="span4">
    <b><%= @mineral.name %></b> (ID:<span id="mineral-id"><%= @mineral.type_id %></span>)
  </div>
</div>

<table class="table table-condensed table-hover table-striped">
  <tr>
    <th>Moon</th>
    <th>Location</th>
    <th></th>
  </tr>
  
  <% @moons.each do |moon| %>
    <tr>
      <td><%= link_to "#{moon.name}", moon %></td>
      <td><%= link_to "#{moon.location_id}", solar_system_path(moon.location_id) %></td>
    </tr>
  <% end %>
  
</table>
<%= paginate @moons %>

<%= link_to 'Back', minerals_path %>
