<div id="minerals-show">
  <div class="row-fluid">
    <div id="mineral-icon" class="span4">
      <b><%= @mineral.name %></b> (ID:<span id="mineral-id"><%= @mineral.type_id %></span>)
    </div>
  </div>
  
  <div class="pull-right">
    <%= form_tag("/minerals/#{@mineral.id}", :method => :get, :class => "navbar-form") do %>
      <%= text_field_tag :location_name, nil, :placeholder => "solar system name", :autocomplete => :off, :data => { :provide =>"typeahead" }, :class => "search-query" %>
      <%= hidden_field_tag :location_id %>
      <%= submit_tag "Search" %>
    <% end %>
    <br />
  </div>

  <table class="table table-condensed table-hover table-striped">
    <tr>
      <th>Moon</th>
      <th>Other Resources</th>
      <th>Location</th>
    </tr>
    
    <% @moons.each do |moon| %>
      <tr>
        <td><%= link_to "#{moon.name}", moon %></td>
        <td>
          <% moon.minerals.where("id != ?", @mineral.id).each do |mineral| %>
            <span class="mineral"><%= mineral.type_id %></span>
          <% end %>
        </td>
        <td><%= link_to "#{moon.location_id}", solar_system_path(moon.location_id) %></td>
      </tr>
    <% end %>
    
    <% if @moons.empty? %>
      <tr class="error">
        <td colspan="3">No results found.</td>
      <tr>
    <% end %>
    
  </table>
  <%= paginate @moons %>

  <%= link_to 'Back', minerals_path, :class => "btn" %>
</div>
