<%= form_for @moon, :url => moons_path, :as => :moon do |f| %>
  <% if @moon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moon.errors.count, "error") %> prohibited this moon from being saved:</h2>

      <ul>
      <% @moon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :celestial_id %><br />
    <%= f.number_field :celestial_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :moon_name %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :mineral_1 %><br />
    <%= f.text_field :mineral_name_1 %>
  </div>
  <div class="field">
    <%= f.label :mineral_2 %><br />
    <%= f.text_field :mineral_name_2 %>
  </div>
  <div class="field">
    <%= f.label :mineral_3 %><br />
    <%= f.text_field :mineral_name_3 %>
  </div>
  <div class="field">
    <%= f.label :mineral_4 %><br />
    <%= f.text_field :mineral_name_4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
