<h1>Listing moons</h1>

<table class="table table-condensed table-hover table-striped">
  <tr>
    <th>Celestial</th>
    <th>Name</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moons.each do |moon| %>
  <tr>
    <td><%= moon.celestial_id %></td>
    <td><%= link_to "#{moon.name}", moon %></td>
    <td><%= link_to "#{moon.location_id}", solar_system_path(moon.location_id) %></td>
    <td><%= link_to 'Show', moon %></td>
    <td><%= link_to 'Edit', edit_moon_path(moon) %></td>
    <td><%= link_to 'Destroy', moon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moon', new_moon_path %>
