<p>
  <b>Celestial:</b>
  <%= @moon.celestial_id %>
</p>

<p>
  <b>Name:</b>
  <%= @moon.name %>
</p>

<p>
  <b>Location:</b>
  <%= link_to "#{@moon.location_id}", solar_system_path(@moon.location_id) %>
</p>

<p>
  <b>Minerals:</b>
  <ul>
  <% @moon.minerals.each do |mineral| %>
    <li><%= link_to "#{mineral.name}", mineral %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_moon_path(@moon) %> |
<%= link_to 'Back', moons_path %>
