<%= link_to "Bearded Nemesis", root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to 'Moons', moons_path %></li>
  <li><%= link_to 'Moon Minerals', minerals_path %></li>
  <li><%= link_to 'Solar Systems', solar_systems_path %></li>
  
  <li><%= link_to "BraveId Login", user_omniauth_authorize_path(:brave_id) %></li>
</ul>
